// ==============================
// Override Variables
// 覆盖变量
// ==============================

.page {
    position: relative;
    max-width: 1000px;
    width: 60%;
    margin: 0 auto;
}

.home[posts] .home-avatar img {
    width: 9rem;
}

.home .home-profile .home-subtitle{
    font-size: 1.2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}