.post-info-mod {
    display: none;
}

p {
    text-align: justify;
    font-size: 1.10em;
    margin-bottom: 1.5em;
}

.single .content p {
    margin-bottom: 1.5em;
    margin-top: 0em;
}

.single .content>h2 {
    font-size: 1.375rem;
}

.single .content>h3 {
    font-size: 1.375rem;
}

.single .content>h4 {
    font-size: 1.375rem;
}

.single .content>h5 {
    font-size: 1.375rem;
}

.single .content>h6 {
    font-size: 1.375rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7 {
    font-size: 1.5em;
}

.home[posts] .summary .single-title {
    font-size: 1.35rem;
    line-height: 140%;
    margin: 0.4rem 0;
}

.home[posts] .summary {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    color: #161209;
    border-bottom: 1px dashed #f0f0f0;
}

.single .content img {
    max-width: 100%;
    min-height: 1em;
    padding-bottom: 1em;
}