@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400,700&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:500&display=swap');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pathway+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');
$code-font-family: Source Code Pro,
Fira Mono,
Source Code Pro,
Menlo,
Consolas,
Monaco,
monospace;
$global-font-family: system-ui,
-apple-system,
BlinkMacSystemFont,
PingFang SC,
Microsoft YaHei UI,
Segoe UI,
Roboto,
Oxygen,
Ubuntu,
Cantarell,
Fira Sans,
Droid Sans,
Helvetica Neue,
Helvetica,
Arial,
sans-serif;
$header-title-font-family: Major Mono Display,
Roboto Slab,
Merriweather,
Vidaloka,
Lato,
Open Sans,
Montserrat,
EB Garamond,
serif;
$font-stack: Open Sans,
Helvetica,
sans-serif;
$primary-color: #333;
body {
    font: 100% $font-stack;
    color: $primary-color;
}

$font-stack1: Lato,
Raleway,
Roboto;
h1,
h2,
h3,
h4,
h5,
h6,
h7 {
    font: 100% $font-stack1;
    font-size: 1.5em;
}

$font-single_title: Roboto;
.single-title.animated.flipInX {
    font: 100% $font-single_title;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 140%;
}

p {
    text-align: justify;
}

.single-title.animated.flipInX{
    font-size: 2.6rem;
    text-align: center;
    padding-top: 2rem;
    margin-top: 0px;
    margin-bottom: .2rem;
}

.featured-image {
    margin: .5rem 0px 2rem;
}


.single .content blockquote {
    border-left: none;
    text-justify: auto;
    background: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3rem;
    height: max-content;
    padding-left: 0px;
    padding-right: 0px;
}

.single .content p{
    margin: 1rem 0 1.5rem;
}

.single .content > h3{
    margin: 2.5rem 0 1rem;
    font-size: 1.8rem;
}

.page {
    position: relative;
    max-width: 900px;
    width: 60%;
    margin: 0 auto;
}